API_ID= 11822563
API_HASH= "12bfd8057541544a482312319d7fe4ae"
STRING_SESSION= "BAB3G-aJDgUBS69mGHlLqd2xCxeYM_iLl80eE_JhfKsPF2wzKKqVYK62_G-w4sMT5KGrzDQ4UP0FDNIXcZ2kWpoZaYU94zKYpnFrr-GBktCC2UUWspzLOO23X4zjW9XerJRVrwInNWNH1X61uDWxA7gtK6qgRjLCyc4qOGvWuUFwdP2g_Tx-Jcdkv1xdzaxQwSacO8OXZ3qUoSAH1kX0M7ToxW-v_6b3Y763kewfIuOlNgBbfYltvyXMaWKVdm9wIsv1hMbvB0hrLuRTQUn83iOzcFNEd0Mb5YQjZ4NJTeQjqbnpf6C0ALKI_R-eVnWaLmDXMxaGPCGmvDsvfl9I495vAAAAAUr8w8oA"
BOT_TOKEN= "6687927759:AAHASknO5Z0atFRs67Z9EyvvX9BnFguKoEs"
MONGO_DB_URL= "mongodb+srv://yipilev790:yipilev790@cluster0.dtfedu0.mongodb.net/"
OWNER_ID= "5553046474"
LOG_GROUP_ID= "-1001905044159"
